@charset "UTF-8";
/* header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  transition: all 0.5s ease;
}

.hidden {
  background: none;
  transition: all 0.5s ease;
}

/* other - nav */

nav {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 20px;
  margin: 0;
}

nav a {
  color: #0d3e44;
  text-decoration: none;
}

nav li {
  display: inline;
  margin-right: 16px;
}

nav .here {
  color: #fff;
  padding: 5px 10px;
  background: rgba(13, 62, 68, 0.42);
  border-radius: 4px;
}

/* other */

html, body, header, footer, section, h1, h2, ul, li, pre {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, .85);
  font-size: .em;
  text-align: left;
  background: #347982;
}

a {
  color: #b5d898;
  text-decoration: none;
  margin: 0 5px;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 10px;
  padding: 0;
}

.container {
  max-width: 590px;
  margin: 90px auto 0;
  padding: 0 15px 30px;
}

p {
  line-height: 1.8em;
}

.h2 {
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px;
  color: #1d1f20;
}