@charset "UTF-8";
/* CSS Document */
body{
	 background-color:#C0C0C0;/*#B2B19C*/
	  width:100%;
	min-width: 100%;
	margin:0px 0px 0px 0px;
}
a {
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
li{
list-style: none;
}

/*=========⭐️===========
		💖ヘッター💖
===========⭐️============*/
/*透明にしたりするの*/
.hidden {
  position:fixed;
  background: none;
  transition: all 1.0s ease;
z-index:1000;
} 
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  transition: all 1.5s ease;
	z-index:1000;
	color:black;
}
/* other - nav */
.header0{
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
/*  padding: 20px;*/
  margin: 0;
 z-index: 500;
}
.header0 ul{
 display: flex;	
}
.header0 li:last-child{
	margin-left: auto;
}
.salon-search{
	background-color: black;
/*	padding-top:20px; */
}
.salon-search a{
	color: white;
}
nav li {
  display: inline;
  margin-right: 16px;
}
nav a {
  color: black;
}
nav .here {
  color: #fff;
  padding: 0px 10px;
  background: rgba(13, 62, 68, 0.42);
}
/*=========⭐️===========
		💖メイン💖
===========⭐️============*/
.main{
	height: 100%;
	/*margin-top:50px;*/	/*ヘッダー重なり回避 消す？？*/
}
/*＝＝＝＝＝＝＝＝＝
　　✊top 画像
＝＝＝＝＝＝＝＝＝*/
.top{
	display:flex;
	justify-content: flex-end;
}
.text1 {
	padding: 0% 65% 0 20%;
	position: absolute;
    top: 10px;
    left: 10%;
    width: 30%;
    font-size: 20px;
    line-height: 150%;
}
.text1 h1{
	font-size: 30px;
/*	padding: 30px;*/
	margin-top:80px;
	display: inline-block;
width: 200px;
}
.text1 p{
/*	background-color: aqua;*/
	display: inline-block;
width: 20em;
}
/*＝＝＝＝＝＝＝＝＝
　　✊NEWS お知らせ
＝＝＝＝＝＝＝＝＝*/
.news{
	height: 100%;
	display:flex;
	justify-content: center;
	padding: 7em;
	
}
.news .cardlayout-wrap1{
/*	background-color: #fff;*/
	padding: 0 50px;
/*	display: flex;*/
	align-items: center;
}
/* カードレイアウト部分をラッピングし、
Flexboxを指定"space-between"で各アイテムを均等に配置し、
最初と最後のアイテムを端に寄せます。*/
.cardlayout-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin: 2em 2em 2em 0 auto;
    max-width: 960px;
/*    width: 100%;*/
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content:center;
}
/* カードレイアウト内の画像を幅いっぱいに表示 */
#cardlayout-wrap img {
	display: block;
    max-width: 100%;
    height: auto;
}
.card-figure {
    margin: 0;
    padding: 0;
}
time {
	color: #DBD9D9;
	font-size: 10px;
}
.info{
	font-size: 10px;
	color: #DBD9D9;
}
/* カードレイアウトのタイトル部分 */
.card-title {
    margin: 0.2em 0 0;
    color: #333;
    font-size: 1.1em;
}
/* カードレイアウトを1カラムで配置 */
.card-list {
    padding: 0;
    width: 240px;
	height: 288px;
	background-color:white;
}
/* 画面幅768px以上の場合カードレイアウトを2カラムで配置 */
/*
@media all and (min-width: 768px) {
    .card-list {
        margin: 0.5em 0;
        width: calc(100% / 2);  100%幅を2で割るという指定 
    }
}
*/
/* 画面幅992px以上の場合カードレイアウトを3カラムで配置 */
/*
@media all and (min-width: 992px) {
    .card-list {
        width: calc(100% / 3);  100%幅を3で割るという指定 
    }
*/
/* 最後の行が3列より少ない場合左寄せにレイアウトさせる */
/*
    #cardlayout-wrap::after{
        content: "";
        display: block;
        width: calc(100% / 3);
    }
}
*/
/*＝＝＝＝＝＝＝＝＝
　　✊商品 line-up
＝＝＝＝＝＝＝＝＝*/
#line-up{
	height: 100%;
	text-align: center;
/*	padding: 600px　0px;*/
	padding: 10px 0 10%;
/*	background-color: rebeccapurple;*/
}
.line-up-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content:center;
}
.item-product{
	position: absolute;
    top: 200px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
	padding-bottom: 10px;
	z-index: 10;
}
.card-figure{
	position: static;
	overflow: hidden;
	/*	はみ出た部分を非表示にする*/
	z-index: 1;
}
.card-figure　img{
 transition:1s all;
	z-index: 1;
}
.card-figure img:hover{
  transform:scale(1.2,1.2);
  transition:1s all;
	z-index: 1;
}

.item-material{
	flex-grow: 1;
}
.shampoo a{
	color: black;
	text-decoration: none;
	padding-top: 50px;
}
.shampoo a:hover{
	text-decoration: none;
	color: #888888;
}
.shampoo-text {
    margin: 2.2em 0 0;
    color: #333;
    font-size: 1.1em;
	text-decoration: none;
}
.shampoo　p {
    margin: 0.2em 0 0;
    color: #333;
    font-size: 1.1em;
	text-decoration: none;
}

/*＝＝＝＝＝＝＝＝＝
　　期間限定
＝＝＝＝＝＝＝＝＝*/
.seasonal{
	padding-top:90px;
}


/*＝＝＝＝＝＝＝＝＝
　　✊記事 story
＝＝＝＝＝＝＝＝＝*/
.story{
	background-color: #F5EDD6;
	height: 100%;
	padding: 20px 0px 0;
	text-align: center;
}

.story-calc {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	max-width: 960px;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 15;
	margin: 2em auto;
}
/* リンクテキストの下線を非表示 */
a.story-link {
	text-decoration: none;
}
.story-calc a:hover{
	text-decoration: none;
	color: #888888;
}
/* カードレイアウト内の画像を幅いっぱいに表示 */
.story-calc img {
	display: block;
	max-width: 100%;
	height: auto;
}
.story-list{
	height: 300px;　
}
.story-figure {
	margin: 0;
	padding: 0;
}
/* カードレイアウトのタイトル部分 */
.story-title {
	margin: 0.6em 0 0;
	color: #333;
	text-align: center;
	font-size: 1.8em;
}
/* カードレイアウトの説明文部分 */
.story-text-tax {
	margin: 0;
	padding: 1em;
	color: #818181;
}
/* カードレイアウトを1カラムで配置 */
.story-list {
	margin: 0.5em auto;
	padding: 0;
	width: 96%;
	background: #f0f0f0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

width: calc(96% / 3);   
}
/* 画面幅768px以上の場合カードレイアウトを2カラムで配置 */
/*
@media all and (min-width: 768px) {
    .story-list {
		margin: 0.5em 0;
		width: calc(96% / 2);  96%幅を2で割るという指定 
    }
}
*/
/* 画面幅992px以上の場合カードレイアウトを3カラムで配置 */
/*
@media all and (min-width: 992px) {
    .story-list {
width: calc(96% / 3);  96%幅を3で割るという指定 
}
*/
/* 最後の行が3列より少ない場合左寄せにレイアウトさせる */
/*
.story-calc::after{
content: "";
display: block;
width: calc(96% / 3);
    }
}
*/
/*＝＝＝＝＝⭐️＝＝＝＝
　　　　💖フッター💖
＝＝＝＝＝＝⭐️＝＝＝＝＝*/
.footer{
	background-color: #E3E3E3;
	padding-top:100px;
	 width: 100%;
}
.footer1 ul{
background-color: #E3E3E3;
	justify-content:center;
	list-style: none;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	text-decoration: none;
}
.footer1 li{
	padding: 40px;
}
.footer1 a{
	color:gray;
	text-decoration: none;
}
.footer2{
	padding: 0px;
	font-size:0.8em;
	background-color: #000000;
	display:-webkit-flex;
	display: flex;
}
.footer2 ul{
	color:white;
	text-decoration:none;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.footer2 li{
	float: left;
	font-size:0.6em;
}
.footer2-li{
	padding: 32px 10px 0;	
}
.footer2-img{
	padding:  0;
}
.footer2 p{
	float: right;
	color: white;
	font-size: 0.5em;
	padding: 30px 0px 0;
	display: block
}
.footer2 a{
	color: white;
}


